<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active oscurecer-img">
    <img src="https://lasamaria.co/wp-content/uploads/2022/06/mixta-scaled.jpg" class="d-block w-100" height="800" alt="..." >
  </div>
  <div class="carousel-item oscurecer-img">
    <img src="https://assets.unileversolutions.com/recipes-v2/237633.jpg?imwidth=1600" class="d-block w-100" height="800" alt="...">
  </div>
  <div class="carousel-item oscurecer-img">
    <img src="https://cdn.colombia.com/gastronomia/2016/11/17/hamburguesa-artesanal-3029.webp" class="d-block w-100" height="800" alt="...">
  </div>
  <div class="container-fluid bg-danger text-white">
    <p class="centro">Abajo puede encontrar nuestro Menú</p>        
  </div>