<!DOCTYPE html>
<html>
  <head>
    <title>WebCurb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="">
              <img src="https://i.ibb.co/x3MD0v7/logo.png" width="100" height="60" alt="">
            </a>
            <button class="navbar-toggler blanco" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav navbar-center separar">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle textblanco" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nuestro Menu
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item textblanco" href="#">Hamburguesa</a>
                    <a class="dropdown-item textblanco" href="#">Salchipapa</a>
                    <a class="dropdown-item textblanco" href="#">Asados</a>
                    <a class="dropdown-item textblanco" href="#">Perros Calientes</a>
                    <a class="dropdown-item textblanco" href="#">Alitas BBQ</a>
                    <a class="dropdown-item textblanco" href="#">Salchipapa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Quienes Somos</a>
                </li>
              </ul>
            </div>
        </nav>
      </header>
    <main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active oscurecer-img">
            <img src="https://lasamaria.co/wp-content/uploads/2022/06/mixta-scaled.jpg" class="d-block w-100" height="800" alt="..." >
        </div>
        <div class="carousel-item oscurecer-img">
          <img src="https://assets.unileversolutions.com/recipes-v2/237633.jpg?imwidth=1600" class="d-block w-100" height="800" alt="...">
        </div>
        <div class="carousel-item oscurecer-img">
          <img src="https://cdn.colombia.com/gastronomia/2016/11/17/hamburguesa-artesanal-3029.webp" class="d-block w-100" height="800" alt="...">
        </div>
        <div class="container-fluid bg-danger text-white">
          <p class="centro">Abajo puede encontrar nuestro Menú</p>        
        </div>
    
        <div class="container centro text-white">
            <div class="row">
              <div class="col">
                      <div class="card mx-auto efecto">
                    <a href="">
                      <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                      </a>
                  </div>
                </div>   
              <div class="col">
                      <div class="card mx-auto">
                    <a href="">
                      <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                      </a>                  
                    </div>
                </div>
              <div class="col">
                      <div class="card mx-auto">
                    <a href="">
                      <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                    </a>                  
                  </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container centro text-white">
            <div class="row">
              <div class="col">
                      <div class="card mx-auto">
                    <a href="">
                      <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                      </a>
                  </div>
                </div>   
              <div class="col">
                      <div class="card mx-auto">
                    <a href="">
                      <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                      </a>                  
                    </div>
                </div>
              <div class="col">
                      <div class="card mx-auto">
                    <a href="">
                      <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                    </a>                  
                  </div>
                </div>
            </div>
        </div>
        <br>  
        <div class="container centro text-white">
        <div class="row">
          <div class="col">
                  <div class="card">
                <a href="">
                  <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                  </a>
              </div>
            </div>   
          <div class="col">
                  <div class="card mx-auto">
                <a href="">
                  <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                  </a>                  
                </div>
            </div>
          <div class="col">
                  <div class="card mx-auto">
                <a href="">
                  <img class='mx-auto img-thumbnail' href="#" src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto"/>
                </a>                  
              </div>
            </div>
        </div>
    </div>
    </main>
    <div class="container-fluid new pb-0 mb-0 justify-content-center text-light ">
      <footer>
          <div class="row my-5 justify-content-center py-5">
              <div class="col-11">
                  <div class="row ">
                      <div class="col-xl-6 col-md-4 col-sm-4 col-12   my-auto mx-auto a"><h3 class="text-muted mb-md-0 mb-5 bold-text">
                      <img src="https://i.ibb.co/x3MD0v7/logo.png" width="200" height="120" alt="">
                      </h3></div>
                      <div class="col-xl-4 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6><ul class="list-unstyled"><li>Home</li><li>About</li><li>Blog</li><li>Portfolio</li></ul></div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6><p class="mb-1">605, RATAN ICON BUILDING</p><p>SEAWOODS SECTOR</p> </div>
                  </div>
                  <div class="row ">
                      <div class="col-xl-6 col-md-4 col-sm-4 col-auto  my-md-0 mt-5 order-sm-1 order-3 align-self-end"><p class="social text-muted mb-0 pb-0 bold-text"> <span  class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Pepper All Rights Reserved.</small></div>
                      <div class="col-xl-4 col-md-4 col-sm-4 col-auto order-1 align-self-end "><h6 class="mt-55 mt-2 text-muted bold-text"><b>ANIRUDH SINGLA</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> anirudh@gmail.com</small></div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3   "><h6 class="text-muted bold-text"><b>RISHABH SHEKHAR</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> rishab@gmail.com</small></div>
                  </div>
              </div>
          </div>
      </footer>
    </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>