<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active oscurecer-img">
    <%= image_tag("hamburguesa/hamburguesa1.jpeg", height:"800", class:"d-block w-100") %>
  </div>
  <div class="carousel-item oscurecer-img">
    <%= image_tag("salchipapa/salchipapa1.jpeg", height:"800", class:"d-block w-100") %>
  </div>

  <div class="carousel-item oscurecer-img">
    <%= image_tag("perros_caliente/perro.jpg", height:"800", class:"d-block w-100") %>
  </div>

  
  <div class="container-fluid bg-danger text-white">
    <p class="centro">Abajo puede encontrar nuestro Menú</p>        
  </div>
</div>