<header>
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="">
              <img src="https://i.ibb.co/x3MD0v7/logo.png" width="100" height="60" alt="">
            </a>
            <button class="navbar-toggler blanco" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav navbar-center separar">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle textblanco" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nuestro Menu
                  </a>
                  <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item textblanco" href="#">Hamburguesa</a>
                    <a class="dropdown-item textblanco" href="#">Salchipapa</a>
                    <a class="dropdown-item textblanco" href="#">Asados</a>
                    <a class="dropdown-item textblanco" href="#">Perros Calientes</a>
                    <a class="dropdown-item textblanco" href="#">Alitas BBQ</a>
                    <a class="dropdown-item textblanco" href="#">Menu Infantil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Quienes Somos</a>
                </li>
              </ul>
            </div>
        </nav>
</header>