<% if notice || alert %>
  <div id="Notification" class="alert-dismissible custom-alert">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <p id="notice"><%= notice || alert %></p>
  </div>
<% end %>