body {
    background-color: #0E1317;
}

.columna{
    margin: 10px 0 2px 0;
}

.blanco{
    background:white;
}

.textblanco{
    color   :white;
}
.negro{
    background-color: black;
}

.separar{
    margin: auto;
}